/**	
 * in line element can't make horizontal centered 
 * example: <span>, ::after{content: " ";};
 */



#text-in-middle {
	width: 100%;
}

#text-in-middle .outer-wrapper {
	height: 200px;
	width: 200px;
	border: solid 2px red;
	border-radius: 50%;
	margin: 0 auto;
}

#text-in-middle .outer-wrapper .text-wrapper {
	width: 36px;  /*this width is still hard code, not good*/
	font-size: 1.8em;
	/*margin: 0 auto;*/
	position: relative;
	top: 50%;
	left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

